@*@using MSIS_HMS.Enums;
@model MSIS_HMS.Core.Entities.DTOs.PaymentCommonDTO*@
  @*<div class="col-xs-12">*@
      <div class="row border-box" style="padding-top: 20px;">
          <div class="col-md-2" id="patientImg">
              
                  @*<input type="image" src="~/images/add-image.png" />*@
              
              </div>
              <div class="col-md-10">
                  <div class="row">
                      <div class="col-md-6">
                          <span><label id="lblVoucherNo" class="form-label" style="font-weight:bold"></label></span><br />
                          <span><label id="lblPatient" class="form-label" style="font-weight:bold"></label></span><br />
                          <span><label  class="form-label" style="font-weight:bold">Age </label></span>:
                          <span><label id="lblAge"  class="form-label"></label></span>,
                          <span><label class="form-label" style="font-weight:bold">Guardian </label></span>:
                          <span><label id="lblGuardian"  class="form-label"></label></span>
                      </div>                     
                      <div class="col-md-6">
                          <span><label class="form-label" style="font-weight:bold">DOA </label></span>:
                          <span><label id="lblDOA"></label></span>,
                          <span><label class="form-label" style="font-weight:bold">DODC </label></span>:
                          <span><label id="lblDODC" class="form-label"></label></span><br />
                          <span><label class="form-label" style="font-weight: bold;">PaymentType </label></span>:
                          <span><label id="lblPaymentType" class="form-label"></label></span><br />
                          <span><label class="form-label" style="font-weight: bold;">Status </label></span>:
                          <span><label id="lblStatus"  class="form-label"></label></span>
                      </div>              
                   
                  </div>
              </div>

          </div>
    @*</div>*@
