@using MSIS_HMS.Enums;
@model MSIS_HMS.Core.Entities.Return

<div class="col-xs-12 ">

    <div class=" bg-w">
        <div class="col-lg-12 col-xs-12">
            <section class="box">
                <header class="panel_header">
                    <h2 class="title pull-left">Basic Info</h2>
                    <div class="actions panel_actions pull-right">
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                        <form action="/Returns/@ViewData["Action"]" method="post">
                            @Html.AntiForgeryToken()
                            @if (ViewData["Action"].ToString() == ViewEnum.Action.Edit.ToDescription())
                            {
                                <input asp-for="Id" hidden />
                                <input asp-for="BranchId" hidden />
                            }
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label class="form-label" for="Date">Date</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        @if (ViewData["Action"].ToString() == ViewEnum.Action.Edit.ToDescription())
                                        {
                                            <input type="date" class="form-control" asp-for="Date">
                                        }
                                        else
                                        {
                                            <input type="date" class="form-control" asp-for="Date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                        }
                                        <span asp-validation-for="Date" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label class="form-label" for="OutletId">From Outlet</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <select class="form-control outlet" asp-for="OutletId" asp-items="ViewBag.FromOutlets">
                                            <option value="">Please Select Outlets</option>
                                        </select>
                                        <span asp-validation-for="OutletId" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label class="form-label" for="WarehouseId">To Warehouse</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <select class="form-control" asp-for="WarehouseId" asp-items="ViewBag.ToWarehouses">
                                            <option value="">Please Select Warehouse</option>
                                        </select>
                                        <span asp-validation-for="WarehouseId" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row" id="root"></div>
                                <div class="col-md-12 form-group">
                                    <label class="form-label" for="Remark">Remark</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input type="text" class="form-control" asp-for="Remark">
                                        <span asp-validation-for="Remark" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="col-xs-12  padding-bottom-30">
                                <div class="text-left">
                                    <button type="submit" class="btn btn-primary gradient-blue">Save</button>
                                    <button type="button" data-href="/Returns/index" class="btn btn-click">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>