@using MSIS_HMS.Enums;
@model MSIS_HMS.Core.Entities.Position
@{
    var controller="Positions";
    ViewData["Title"] = "All Position";
}

<div class="col-xs-12 ">

    <div class=" bg-w">
        <div class="col-lg-12 col-xs-12">
            <section class="box">
                <header class="panel_header">
                    <h2 class="title pull-left">Basic Info</h2>
                    <div class="actions panel_actions pull-right">
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                        <form action="/@controller/@ViewData["Action"]" method="post">
                            @Html.AntiForgeryToken()
                            @if (ViewData["Action"].ToString() == ViewEnum.Action.Edit.ToDescription())
                            {
                                <input asp-for="Id" hidden/>
                            }
                            <div class="col-xs-12 ">
                                <div class="form-group">
                                    <label class="form-label" for="field-1">Name</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="field-1" asp-for="Name">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                             <div class="col-xs-12 ">
                                <div class="form-group">
                                    <label class="form-label" for="field-1">Code</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="field-1" asp-for="Code">
                                        <span asp-validation-for="Code" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12  padding-bottom-30">
                                <div class="text-left">
                                    <button type="submit" class="btn btn-primary gradient-blue">Save</button>
                                    <button type="button" data-href="/@controller/" class="btn btn-click">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
@section Scripts
{
}