@using MSIS_HMS.Enums;
@using static MSIS_HMS.Infrastructure.Helpers.DateTimeExtensions;
@model MSIS_HMS.Core.Entities.IPDRecord
<div class="col-xs-12 ">

    <div class=" bg-w">
        <div class="col-lg-12 col-xs-12">
            <section class="box">
                <header class="panel_header">
                    <h2 class="title pull-left">Basic Info</h2>
                    <div class="actions panel_actions pull-right">
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                        <form action="/Discharge/@ViewData["Action"]" method="post">
                            @Html.AntiForgeryToken()

                            <input asp-for="Id" hidden />
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label class="form-label" for="DODC">DODC</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="datetime-local" class="form-control" asp-for="DODC">
                                            <span asp-validation-for="DODC" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label class="form-label" for="CheckOutTime">ChekOut Time</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="time" class="form-control" asp-for="CheckOutTime" value="@ViewBag.CheckOut">
                                            <span asp-validation-for="CheckOutTime" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <label class="form-label" for="DiseaseName">DiseaseName</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <textarea class="form-control" asp-for="DiseaseName"></textarea>
                                            <span asp-validation-for="DiseaseName" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="col-md-12 form-group">
                                        <label class="form-label" for="DiseaseSummary">Disease Summary</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <textarea class="form-control" asp-for="DiseaseSummary"></textarea>
                                            <span asp-validation-for="DiseaseSummary" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <label class="form-label" for="PhotographicExaminationAnswer">Phototgraphic Examination Answer</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <textarea class="form-control" asp-for="PhotographicExaminationAnswer"></textarea>
                                            <span asp-validation-for="PhotographicExaminationAnswer" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <label class="form-label" for="MedicalTreatment">Medical Treatment</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <textarea class="form-control" asp-for="MedicalTreatment"></textarea>
                                            <span asp-validation-for="MedicalTreatment" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label class="form-label" for="DischargeTypeId">Discharge Type</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <select class="form-control" asp-for="DischargeTypeId" asp-items="ViewBag.DischargeTypes">
                                                <option value="">Please Select Discharge Type</option>
                                            </select>
                                            <span asp-validation-for="DischargeTypeId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label class="form-label" for="Remark">Reason for Discharge</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="text" class="form-control" asp-for="ResasonofDODC">
                                            <span asp-validation-for="ResasonofDODC" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="root"></div>


                            </div>

                            <div class="col-xs-12  padding-bottom-30">
                                <div class="text-left">
                                    <button type="submit" class="btn btn-primary gradient-blue">Save</button>
                                    <button type="button" data-href="/IPDRecords/index" class="btn btn-click">Cancel</button>
                                </div>
                            </div>



                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
